@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
  width: 90%;
  margin: 0 auto;
}
/* <div class="w-[50%]">
<h1 class="bg-blue-600 py-[2%] px-[4%]">POST YOUR PROPERTY for FREE</h1>

</div>  */

/* .spotlight{
 
  background: linear-gradient(to right, #C1DEE8 , #FBD9B9);
  height: ;

} */

.containerx{
background: linear-gradient(to right, #C1DEE8 , #FBD9B9);
  height: auto;


}
